body {
    text-align: center;
    background-image: url('http://i44.photobucket.com/albums/f35/idomosko/shopping-malls_zpspiueegjy.jpg');
    overflow: hidden;
}
.bg-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: -1;
}
main {
    max-width: 980px;
    padding: 50px;
    margin: auto;
    background-color: white;
}
h1 {
    text-transform: capitalize;
    font-size: 40px;
}
p {
    font-size: 20px;
    line-height: 1.8;
}
.progressBar {
    width: 700px;
    list-style: none;
    display: flex;
}

.progressBar li {
    width: 6%; 
    margin: auto;
    border: 1px solid #f2f2f2;
    height: 10px;
}
.empty {
    background-color: #333;
}
.full {
    background-color: pink;
}
img {
    max-height: 200px;
    margin: 5px;
    border: 5px solid black;
}
h2 {
    font-size: 40px;
    margin-top: 0;
}
ul {
    display: flex;
    flex-flow: wrap;
    text-align: center;
    margin: auto;
    list-style: none;
    padding: 0;
}
ul li {
    width: 33%;
    position: relative;
    margin-bottom: 20px;
}
ul img {
    width: 85px;
    height: 85px;
}
ul span {
    position: absolute;
    right: 0;
    background-color: peachpuff;
    border-radius: 40px;
    color: black;
    padding: 12px 18px;
    margin-top: -15px;
    font-weight: bold;
    margin-right: 14px;
    font-size: 20px;
    border: 1px solid black;
}
.results {
    display: flex;
    flex-flow: wrap;
}
.hide {
    display: none;
}
.displaySort {
    width: 50%;
}
.displaySort img {
    animation: 3s expandImages;
}
.restartGame {
    width: 100%;
}
#imagesContainer img {
    position: relative;
}
#imagesContainer img:hover {
    transform: scale(1.2);
    transition: transform .5s;
    z-index: 1;
}






.imgFromLeft {
animation: .8s slideInFromLeft;
}
.imgFromRight {
animation: .8s slideInFromRight;
}
.imgFromBottom {
animation: .8s slideInFromBottom;
}
.slideOutToLeft {
    animation: .8s slideOutToLeft;
}
.slideOutToBottom {
    animation: .8s slideOutToBottom;
}
.slideOutToRight {
    animation: .8s slideOutToRight;
}

/* Slide In */
@keyframes slideInFromLeft {
    from {left: -700px;}
    to {left: 0;}
}
@keyframes slideInFromRight {
    from {right: -700px;}
    to {right: 0;}
}
@keyframes slideInFromBottom {
    from {bottom: -700px;}
    to {bottom: 0;}
}
/* Slide Out */
@keyframes slideOutToLeft {
    from {left: 0;}
    to {left: -700px;}
}
@keyframes slideOutToRight {
    from {right: 0;}
    to {right: -700px;}
}
@keyframes slideOutToBottom {
    from {bottom: 0;}
    to {bottom: -700px;}
}





/* .fadeIn {
    animation: .5s expandImages;
}
.fadeOut {
    animation: .5s shrinkImages;
}
@keyframes shrinkImages {
    from {
        max-height: 200px;
    }
    to {
        max-height: 0px;
    }
}

@keyframes expandImages {
    from {
        max-height: 0px;
    }
    to {
        max-height: 200px;
    }
} */