body {
    text-align: center;
    background-image: url('http://i44.photobucket.com/albums/f35/idomosko/shopping-malls_zpspiueegjy.jpg');
}
.bg-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
main {
    max-width: 980px;
    padding: 50px;
    margin: auto;
    background-color: white;
}
h1 {
    text-transform: capitalize;
    font-size: 40px;
}
p {
    font-size: 20px;
    line-height: 1.8;
}
.progressBar {
    width: 700px;
    list-style: none;
    display: flex;
}
.hide {
    display: none;
}
.progressBar li {
    width: 6%; 
    margin: auto;
    border: 1px solid #f2f2f2;
    height: 10px;
}
.empty {
    background-color: #333;
}
.full {
    background-color: pink;
}
img {
    max-height: 200px;
    margin: 5px;
    border: 5px solid black;
}
h2 {
    font-size: 40px;
}
ul {
    display: flex;
    flex-flow: wrap;
    text-align: center;
    margin: auto;
    list-style: none;
    padding: 0;
}
ul li {
    width: 25%;
    position: relative;
    margin-bottom: 20px;
}
ul img {
    width: 200px;
    height: 200px;
}
ul span {
    position: absolute;
    right: 0;
    background-color: peachpuff;
    border-radius: 40px;
    color: black;
    padding: 20px 27px;
    margin-top: -15px;
    font-weight: bold;
    margin-right: -5px;
    font-size: 20px;
    border: 1px solid black;
}
